<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ detail.title }}</title>
    <script type="text/javascript" src="{{ url_for('static',filename='ckplayer.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.3.1.min.js') }}" charset="UTF-8"></script>
    <style>
        .photo_group img {
            background-size:contain|cover;
            max-width:100%;
            height: auto;
        }
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
</head>
<body>

<div class="titel">
    <h1>{{ detail.title }}</h1>
</div>


<script>
    function set_button_color(id) {
        $(".score button").css('background-color','');
        $("#score_" + id).css('background-color','pink');
    }

    function score(number){
        set_button_color(number);
        var url = "/update_collection_score/";
        var html_url = window.location.href;
        var html_url_list = html_url.split('/');
        var path = html_url_list[html_url_list.length-2];
        $.post(url,{'path':path,'score':number});

    };
</script>


<div class="score">
    为影片评分：
    {% for button_id in detail.score_list %}
        {% if button_id == detail.score %}
            <button
                    type="button"
                    id="score_{{ button_id }}"
                    onclick="score({{ button_id }})"
                    style="background-color: pink;">
                            {{ button_id }}分
            </button>
        {% else %}
            <button
                    type="button"
                    id="score_{{ button_id }}"
                    onclick="score({{ button_id }})">
                {{ button_id }}分
            </button>
        {% endif %}

    {% endfor %}
    <br>
    <br>
</div>


<div class="photo_group" >
    {% for photo in detail.photos %}
        <img src="{{ photo }}" alt="">
        <br>
    {% endfor %}

</div>



<div id="movie_group">
    {% for movie in detail.movies %}
        <video src="{{ movie }}" controls="controls"></video>
    {% endfor %}
</div>



</body>
</html>