<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有电影集合</title>
        <style>
        .img {
            background-size:contain|cover;
            max-width:100%;
            height: auto;
        }
    </style>
</head>
<body>
<div id="photo_group">
    {% for item in items %}
        <a href="{{ item.url }}">
            {{ item.name }}
            <br>
            <img src="{{ item.photo_url }}" alt="">
        </a>
        <br>
    {% endfor %}
</div>

</body>
</html>